{% extends 'base.html.twig' %}

{% block title %}Dodaj wizytę lekarską{% endblock %}

{% block body %}
    <div class="container-sm w-25">
        <h1 class="text-center">Dodaj wizytę</h1>
        <p>Pacjent: {{ patient }}</p>
        <p>Pesel: {{ patient.pesel }}</p>
        {{ form_start(form) }}
        {{ form_row(form.symptoms) }}
        {{ form_row(form.diagnosis) }}
        {{ form_row(form.recommendations) }}
        {{ form_row(form.additionalInformation) }}
        <button type="submit" class="btn btn-dark">Dodaj wizytę</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
