{% extends 'base.html.twig' %}

{% block title %}Historia Leczenia{% endblock %}

{% block body %}
    <div class="container-sm w-75">
        <table class="table table-green">
            <thead>
            <tr><td colspan="8"><h1 class="text-center">Historia leczenia</h1></td></tr>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Lekarz</th>
                <th scope="col">Symptomy</th>
                <th scope="col">Diagnoza</th>
                <th scope="col">Zalecenia</th>
                <th scope="col">Informacje dodatkowe</th>
                <th scope="col">Recepta</th>
                <th scope="col">Skierowanie</th>
            </tr>
            </thead>
            <tbody>
            {% for medicalVisit in medicalVisits %}
                <tr>
                    <td>{{ medicalVisit.date|date("d.m.Y") }}</td>
                    <td>{{ medicalVisit.doctor }}</td>
                    <td>{{ medicalVisit.symptoms }}</td>
                    <td>{{ medicalVisit.diagnosis }}</td>
                    <td>{{ medicalVisit.recommendations }}</td>
                    <td>{{ medicalVisit.additionalInformation }}</td>
                    {% if medicalVisit.prescriptionPackage != null %}
                        <td>
                            <a href="{{ path('prescription_package',{package: medicalVisit.prescriptionPackage.id}) }}">
                                <button class="btn btn-green">Recepta</button>
                            </a>
                        </td>
                    {% else %}
                        {% if is_granted('ROLE_DOCTOR') %}
                            <td>
                                <a href="{{ path('add_prescription_package',{medicalVisit: medicalVisit.id}) }}">
                                    <button class="btn btn-green">Wystaw receptę</button>
                                </a>
                            </td>
                        {% else %}
                            <td>Brak recepty</td>
                        {% endif %}
                    {% endif %}
                    {% if medicalVisit.referral != null %}
                        <td>
                            <a href="{{ path('referral',{referral: medicalVisit.referral.id}) }}">
                                <button class="btn btn-green">Skierowanie</button>
                            </a>
                        </td>
                    {% else %}
                        {% if is_granted('ROLE_DOCTOR') %}
                            <td>
                                <a href="{{ path('add_referral',{medicalVisit: medicalVisit.id}) }}">
                                    <button class="btn btn-green">Wystaw skierowanie</button>
                                </a>
                            </td>
                        {% else %}
                            <td>Brak Skierowania</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
