{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <div class="container-sm w-50 form">

        <h1 class="text-center mt-3">Rejestracja</h1>
        <div class="row">
            <div class="col">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {% do registrationForm.roles.setRendered() %}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_rest(registrationForm) }}
                {{ form_start(patientForm) }}
                {{ form_row(patientForm.name) }}
                {{ form_row(patientForm.surname) }}
                {{ form_row(patientForm.pesel) }}
            </div>
            <div class="col">
                {{ form_row(patientForm.sex) }}
                {{ form_row(patientForm.dateOfBirth) }}
                {{ form_row(patientForm.phoneNumber) }}
                {{ form_row(patientForm.doctorOfFirstContact) }}
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-green mt-4 mb-5">Zarejestruj się</button>
        </div>
        {{ form_end(patientForm) }}
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
