{% extends 'base.html.twig' %}

{% block title %}Dane Pacjenta{% endblock %}
{% block body %}
    <div class="container w-50">
        <div class="card mt-4 shadow">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>{{ patient }}</h5>
                    <h5>Data dołączenia {{ patient.dateOfJoining|date("d/m/Y") }}</h5>
                </div>
            </div>
            <div class="card-body">
                <p>Pesel: {{ patient.pesel }}</p>
                <p>Data urodzenia: {{ patient.dateOfBirth|date("d/m/Y") }}</p>
                <p>Płeć: {{ patient.sex }}</p>
                <p>Numer Telefonu: {{ patient.phoneNumber }}</p>
                <p>Lekarz pierwszego kontaktu: {{ patient.doctorOfFirstContact }}</p>
                <h5>Operacje</h5>
                <p>

                    {% if is_granted('ROLE_PATIENT') %}
                        <a href="{{ path('change_password') }}">
                            <button class="btn btn-dark">Zmień hasło</button>
                        </a>
                        <a href="{{ path('patient_edit',{patient: patient.id}) }}">
                            <button class="btn btn-dark">Edytuj dane</button>
                        </a>
                    {% elseif is_granted('ROLE_EMPLOYEE') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('add_test_results',{patient: patient.id}) }}">
                            <button class="btn btn-dark">Dodaj Wyniki badań</button>
                        </a>
                        <a href="{{ path('patient_edit',{patient: patient.id}) }}">
                            <button class="btn btn-dark">Edytuj dane</button>
                            <a href="{{ path('all_tests',{patient: patient.id}) }}">
                                <button class="btn btn-dark">Zobacz Badania</button>
                            </a>
                            <a href="{{ path('medical_visits',{patient: patient.id}) }}">
                                <button class="btn btn-dark">Historia leczenia</button>
                            </a>
                        </a>
                    {% elseif is_granted('ROLE_DOCTOR') %}
                        <a href="{{ path('all_tests',{patient: patient.id}) }}">
                            <button class="btn btn-dark">Zobacz Badania</button>
                        </a>
                        <a href="{{ path('medical_visits',{patient: patient.id}) }}">
                            <button class="btn btn-dark">Historia leczenia</button>
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
