{% extends 'base.html.twig' %}

{% block title %}Lekarz{% endblock %}

{% block body %}
    <div class="container-sm w-50">
        <div class="card mt-4 shadow">
            <div class="row no-gutters h-100">
                <div class="col-md-4">
                    <img class="img-fluid" src="/images/male-ph.jpeg" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-green">
                        <h5>{{ doctor }} </h5>
                        <h6>Numer prawa do wykonywania zawodu: {{ doctor.licenseNumber }}</h6>
                        <h6>Specializacja: {{ doctor.specialization }}</h6>
                        <p>{{ doctor.biography }}</p>
                        {% if is_granted("ROLE_DOCTOR") %}
                            <a href="{{ path('change_password') }}">
                                <button class="btn btn-green">Zmień Hasło</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

