{% extends 'base.html.twig' %}

{% block title %}Lekarz{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="container-sm w-25">
            <h1 class="text-center">Dane Lekarza</h1>
            <table class="table table-dark">
                <tbody>
                <tr>
                    <th>Imię</th>
                    <td>{{ doctor.employee.name}}</td>
                </tr>
                <tr>
                    <th>Nazwisko</th>
                    <td>{{ doctor.employee.surname}}</td>
                </tr>
                <tr>
                    <th>Numer prawa do wykonywania zawodu</th>
                    <td>{{ doctor.licenseNumber}}</td>
                </tr>
                <tr>
                    <th>Specializacja</th>
                    <td>{{ doctor.specialization}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center"><a href="{{ path('change_password') }}"><button class="btn btn-danger">Zmień Hasło</button></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

