{% extends 'base.html.twig' %}

{% block title %}Dodaj pracownika{% endblock %}

{% block body %}
    <div class="container w-25">
        <div class="container form" style="margin-top:100px;">
            <h1 class="text-center">Dodaj pracownika</h1>
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_start(employeeForm) }}
            {{ form_row(employeeForm.name) }}
            {{ form_row(employeeForm.surname) }}
            {{ form_rest(registrationForm) }}
            <button type="submit" class="btn btn-green mt-2 mb-4">Dodaj pracownika</button>
            {{ form_end(employeeForm) }}
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}