{% extends 'base.html.twig' %}

{% block title %}Dodaj wyniki testów{% endblock %}

{% block body %}
<div class="container w-25">
    <div class="container form" style="margin-top:100px;">
        <h1 class="text-center">Dodaj wyniki badań</h1>
        <div>
            <h3>Dane Pacjenta</h3>
            <p>Imię i nazwisko: {{ patient}}</p>
            <p>Pesel: {{ patient.pesel }}</p>
        </div>
        {{ form_start(form) }}
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
        {{ form_row(form.hematocrit) }}
        {{ form_row(form.hemoglobin) }}
        {{ form_row(form.leukocytes) }}
        {{ form_row(form.lymphocytes) }}
        {{ form_row(form.erythrocytes) }}
        <button type="submit" class="btn btn-green mt-2 mb-4">Dodaj wyniki badań</button>
        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}
