{% from "layouts/sidebar.html.twig" import sidebar %}
<!DOCTYPE html>
<html lang="pl">
<head>t
    <meta charset="UTF-8">
    <title>{% block title %}Przychodnia Lekarska{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex">
{% if is_granted('IS_ANONYMOUS') %}
{% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ sidebar() }}
    {% for message in app.flashes('success') %}
        <div class="d-none" id="successFlashMessage">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="d-none" id="errorFlashMessage">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% block body %}{% endblock %}
</body>
</html>
