{% extends 'base.html.twig' %}

{% block title %}Dodaj Wizytę{% endblock %}

{% block body %}
    <div class="container-sm w-25">
        <h1>Dodaj Wizyty</h1>
        {{ form_start(form) }}
            {{ form_row(form.Doctor) }}
            {{ form_row(form.date) }}
            {{ form_row(form.startTime) }}
            {{ form_row(form.endTime) }}
        <button type="submit" class="btn btn-dark mt-2">Dodaj Wizyty</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
