{% extends 'base.html.twig' %}

{% block title %}Dostępne terminy{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="container-sm w-75">
            <h1 class="text-center">Dostępne terminy wizyt</h1>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Godzina</th>
                    <th scope="col">Lekarz</th>
                    <th scope="col">Umów wizytę</th>
                </tr>
                </thead>
                <tbody>
                {% for visit in visits %}
                    <tr>
                        <td>{{ visit.date|date("d/m/Y") }}</td>
                        <td>{{ visit.time|date("H:i") }}</td>
                        <td>{{ visit.doctor.employee.name }} {{ visit.doctor.employee.surname }}</td>
                        <td>
                            <a href="{{ path('sign_up',{visit: visit.id}) }}">
                                <button class="btn btn-danger">Umów wizytę</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
