{% extends 'base.html.twig' %}

{% block title %}Umów wizytę{% endblock %}

{% block body %}
    <div class="container-sm w-25">
        <table class="table table-green">
            <tr><td colspan="8"><h1 class="text-center">Umów wizytę</h1></td></tr>
            <tr>
                <th>Data</th>
                <td>{{ visit.date|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Godzina</th>
                <td>{{ visit.time|date("H:i") }}</td>
            </tr>
            <tr>
                <th>Lekarz</th>
                <td>{{ visit.doctor.employee.name }} {{ visit.doctor.employee.surname }}</td>
            </tr>
            <tr>
                <th>Wybierz typ wizyty</th>
                {{ form_start(form) }}
                <td class="form">{{ form_row(form.typeOfVisit) }}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center form">
                    <button type="submit" class="btn btn-green">Umów wizytę</button>
                </td>
                {{ form_end(form) }}
            </tr>
        </table>
    </div>
{% endblock %}